* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.hero-section {
    height: 100vh;
    background-image: url('images/kyiv-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.hero-section p {
    font-size: 1.5rem;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.content-section {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.text-box {
    max-width: 700px;
    margin: 0 auto;
}

.text-box h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 1.2rem;
    line-height: 1.6;
}

section {
    padding: 50px;
    background-color: #fff;
}

.section-content {
    text-align: center;
}

.section-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section-content img {
    width: 100%;
    max-width: 400px;
    /* width: 400px; */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.section-content img:hover {
    transform: scale(1.05);
}

.history-section {
    background-color: #f9f9f9;
}

.culture-section {
    background-color: #eaeaea;
}

.nightlife-section {
    background-color: #dcdcdc;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

a {
    color: #fff;
}

a:hover {
    color: #f0a500;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
